<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <div class="card mb-3 " style="max-width: 100%; border: 0;">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="card-title fs-1"><b>This First Heading</b> </span> <span class="card-title fs-1 text-secondary"><b>Will Catch Your Eye</b> </span>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti maiores
                            atque vel ab, excepturi quos sint iste autem dolor suscipit, omnis nam? Labore id sequi
                            similique atque repellendus odit hic!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>